POSTGRES_USER=n8n
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=n8n

N8N_ENCRYPTION_KEY=CHANGE_ME

N8N_HOST=example.com
N8N_PATH=/n8n/
N8N_PUBLIC_URL=https://example.com/n8n/

GENERIC_TIMEZONE=Europe/Berlin
